# 数据库
DB_HOST=150.158.108.241
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=Ph4pW7rZNTYDtW8B

# Redis
REDIS_HOST=150.158.108.241
REDIS_PORT=6739
REDIS_PASSWORD=eJbBF5WrpcA3WdFW

# JWT
JWT_SECRET=generate-a-random-256-bit-secret

# 运行环境
SPRING_PROFILES_ACTIVE=dev
